html {
    font-family: "Helvetica", sans-serif;
}

body {
    background-image: url("../images/cinema-dark-display-8158.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: block;
    overflow: auto;
}

.game-name {
    /* background-color:rgba(255,255,255,.5); */
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    margin: 0 auto;
    margin-top: 20px;
    /* width:300px; */
}

h1 {
    font-family: "Slabo 27px", serif;
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
    color: white;
    background-color:black;
    /* border:4px rgba(0,0,0,0.5) solid; */
}

h3 {
    font-family: "Slabo 27px", serif;
    text-align: center;
    letter-spacing: 5px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: -37px;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 480px;
}

h5 {
    text-align: center;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 480px;
    margin: 0 auto;
    margin-top: 40px;
}

#newGame {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px white solid;
    padding: 20px;
    letter-spacing: 1.5px;
    transition: .5s all;
    box-shadow: 2px 2px 2px black;
}

#newGame:focus {
    outline: 0;
}

#newGame:hover {
    background-color: gray;
    border: 1px black solid;
    /* box-shadow:1px 1px 1px black; */
    top: 1px;
}

#newGame:active {
    background-color: gray;
    color: black;
    border: 1px black solid;
    box-shadow: 0px 0px 0px black;
    top: 2px;
}

#underscores {
    margin: 0 auto;
    color: black;
    margin-top: 30px;
    font-size: 20px;
}

#loses {
    font-size: 20px;
    color: red;
    margin-left:25px;
    margin-top:19px;
}

#wins {
    font-size: 20px;
    color: green;
    margin-left:25px;
    margin-top:19px;
    background-color:rgba(0,0,0,0.8);
}